@import url('https://fonts.googleapis.com/css?family=Galada&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap');

html,
body {
  height: 100%;
}

html {
  background: url('./images/home2.jpeg');
  background-color: #292828;
}

h1 {
  margin: 0;
}

#intro-container {
  display: flex;
  height: 700px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#intro-container h1 {
  font-family: 'Galada', cursive;
  font-size: 132px;
  font-weight: 300;
  color: #c24242;
  margin-bottom: 30px;
}

#cta {
  width: 150px;
  color: #fff;
  font-size: 18px;;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 15px;
  border: 1px solid #fff;
  border-radius: 2px;
  transition: background-color .3s ease;
  background-color: #c24242;
  opacity: .95;
  margin-bottom: 30px;
}

#cta:hover {
  background-color: #e37474;
}

/* Skills */

#tech-grid-container {
  display: grid;
  width: 75%;
  grid-template-columns: 1fr;
  justify-items: center;
  background-color: #f5f5f5;
  border-radius: 2px;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 50px;
}

.tech-grid-item {
  width: 220px;
  height: 180px;
  color: white;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tech-decorater {
  font-family: 'Galada', cursive;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  color: brown;
}

.tech-img {
  font-family: 'Galada', cursive;
  height: 100px;
}

.tech-desc {
  font-family: 'Inconsolata', monospace;
  text-align: center;
  color: #c24242;
  font-size: 18px;
}

#project-grid-container {
  width: 75%;
  margin: 0 auto;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  background-color: #f5f5f5;
  opacity: .9;
  border-radius: 2px;
}

.project-grid-item {
  width: 220px;
  height: 180px;
  color: white;
  border-radius: 4px;
}

.projects-decorater {
  font-family: 'Galada', cursive;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  color: brown;
}

.project-name {
  font-family: 'Galada', cursive;
  color: brown;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin: 0;
}

.live-link {
  display: block;
  text-align: center;
}

.project-thumbnail {
  width: 150px;
  height: 110px;
  transition: transform .4s ease;
}

.project-thumbnail:hover {
  transform: scale(1.1);
}

#personal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  width: 400px;
  height: 500px;
  background-color: #f5f5f5;
  border-radius: 2px;
}

#profile {
  margin-top: 10px;
  height: 200px;
  border-radius: 2px;

}

/* Form */

#form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60%;
  width: 400px;
  background-color: #f5f5f5;
  opacity: .9;
  border-radius: 2px;
}

#connect-headline {
  font-family: 'Galada', cursive;
  font-size: 48px;
  color: #c24242;
  margin: 0;
  text-align: center;
}

#form-row {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 0 auto;
}

#form-row input {
  width: 48%;
  height: 30px;
  border: 1px solid #000;
  font-size: 16px;
  color: #000;
  border: 2px solid #c24242;
  border-radius: 2px;
}

#form textarea {
  display: block;
  width: 88%;
  margin: 0 auto;
  font-size: 14px;
  resize: none;
  border: 2px solid #c24242;
  border-radius: 2px;
}

#form-row input::placeholder,
#form textarea::placeholder {
  color: #000;
  font-size: 14px;
}

#submit-warn {
  background-color: #c24242;
  color: #fff;
  font-family: 'Galada', cursive;
  font-size: 18px;
  display: inline-block;
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  text-align: center;
  border: 1px solid #fff;
  border-radius: 2px;
  transition: background-color .3s ease;
}

#submit-btn {
  display: inline-block;
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  font-family: 'Galada', cursive;
  font-size: 24px;
  padding: 8px 25px;
  background-color: #c24242;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 5px;
  transition: background-color .3s ease;
}

#submit-btn:hover {
  cursor: pointer;
  background-color: #872020;
}

#submit-warn:hover {
  cursor: default;
}

#success-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 30%;
  width: 400px;
  background-color: #f5f5f5;
  opacity: .8;
  border-radius: 2px;
  text-align: center;
}

#success-message {
  font-family: 'Galada', cursive;
  font-size: 30px;
  color: #c24242;
}

#success-return {
  font-family: 'Galada', cursive;
  font-size: 36px;
  font-family: 'Galada', cursive;
  font-size: 24px;
  padding: 8px 25px;
  transition: background-color .2s ease;
  background-color: #c24242;
  color: #fff;
  text-decoration: none;
  border-radius: 2px;
}

#success-return:hover {
  background-color: #e37474;
}